<h2>Checking Accounts</h2>
				<div class="content">
					<p>Members Trust offers two checking account options to meet your financial needs.  Whether you write checks frequently or only occasionally, we have the checking account for you.  Our variety of features and services makes your checking account a smart and flexible financial tool. Click <%= link_to "here", "pdf/membership_application.pdf" %> for an application to set up a new checking account.</p>
					<p><strong>Prime Checking</strong> - Offers the following benefits:</p>
					<ul>
						<li>No monthly service fee</li>
						<li>No minimum balance requirement</li>
						<li>Unlimited check writing</li>
						<li>Overdraft protection from savings account</li>
						<li>Free online banking</li>
						<li>Free online bill payment</li>
						<li>eStatements</li>
						<li>Free debit/check card</li>
						<li>24/7 telephone customer service (800-769-8934)</li>
						<li>Free direct deposit and payroll deduction</li>
					</ul>
					<p>
						<strong>Choice Checking</strong> - For a low monthly fee you get the benefits of our Prime Checking plus:
					</p>
					<ul>
						<li>Free personalized checks</li>
						<li>Bonus travel program</li>
						<li>$10,000 accidental death &amp; dismemberment insurance</li>
						<li>$25,000 common carrier coverage</li>
						<li>Credit card protection</li>
					</ul>
					<p>Click <%= link_to "here", "https://reorder.libertysite.com", :rel=>"confirm external" %> to reorder checks.</p>
					<p><strong>TRUST Checking</strong></p>
                    <p>If you have been reported to ChexSystems, we may be able
                        to help.  We have options for everyone – even if you’ve
                        been turned down for checking accounts due to credit
                        problems or other reasons.  Get a second chance at Members
                        Trust.  Here’s how it works:</p>
                    <ol>
                        <li>Go to <%= link_to "Balance", "http://balancetrack.org/partners/memberstrust", :rel=>"external" %> and click on “Checking Account Management” to take the online course on “Managing your Checking Account”.<br />
                            <br />
                        </li>
                        <li>Bring in (fax or mail) your certificate of completion,
                            an opening deposit of $50 or more, and we’ll open
                            your TRUST checking account.<br />
                            <br />
                        </li>
                        <li>If you account remains in good standing for 12 months,
                            it will automatically be converted to a Prime Checking
                            account.</li>
                    </ol>
                    <p>&nbsp;</p>
                    <p>Please contact our Member Service Department at 800-769-8934
                        to determine if you are eligible for this account.</p>
                    <p>If you do not have a computer, we can provide you a paper
                        copy of the “Checking Account Management” course.</p>
<p>&nbsp;</p>
				</div>