<h2>ATM / Debit Cards</h2>
<div id="atm2">
	<div class="content">
		<h3>STAR&reg; ATM Card</h3>
		<p>
			STAR&reg; Card provides access to your Members Trust accounts day and night via thousands of Automatic Teller Machines locally and nationwide. You can get cash, check your balances, and transfer funds between your accounts.  There is a$1.00 fee for each cash withdrawal.  Your STAR&reg; Card is offered as part of your savings or checking account.   Other financial institutions may surcharge you for use of their machines. <%= link_to "Click here", "http://www.co-opfs.org/public/locators/ATMlocator/index.cfm", :rel=>"confirm external" %> to find one of our 36,000 free ATMs in your area.
		</p>
		<h3>Mastercard&reg; Debit Card</h3>
		<p>
			With your Members Trust Mastercard&reg; Debit Card every purchase is as simple as using your credit card.  With just a swipe of your card, your purchases will automatically be paid from your Members Trust checking account.
		</p>
		<p>Your card can also be used to withdrawal cash from over 36,000 surcharge free ATM’s nationwide.  <%= link_to "Click here", "http://www.co-opfs.org/public/locators/ATMlocator/index.cfm", :rel=>"confirm external" %> to find a list of ATM’s in your area.</p>
	</div>
</div>