<h2>Members Trust FCU Board of Directors</h2>
				<div class="content">
					<p>True to our cooperative roots and  philosophy, our Board of Directors is made up of talented people who volunteer their time and expertise for the good of Members Trust’s membership. Under their stewardship, Members Trust continues to provide a safe place for you to keep and grow your financial assets, get sound financial advice, and enjoy competitive rates on financial services and products. Our Board of Directors also ensures that we deliver the highest level of service to you while maintaining financial strength and stability.</p>
					<h3>Board of Directors</h3>
					<dl class="directors">
						<dt>Jeanne Brauns</dt>
						<dd>Chairperson</dd>
						<dt>Dave Freytag</dt>
						<dd>Vice-Chairperson</dd>
						<dt>Mark Foutch</dt>
						<dd>Treasurer</dd>
						<dt>Darlene Freeman-Rosser</dt>
						<dd>Secretary</dd>
						<dt>Julie Carmack</dt>
						<dd>Director</dd>
						<dt>John Brault</dt>
						<dd>Director</dd>
						<dt>Todd Cain</dt>
						<dd>Director</dd>
						<dt>Chris Ray</dt>
						<dd>Director</dd>
						<dt>Carol Spicer</dt>
						<dd>Director</dd>
					</dl>
					<h3>Supervisory Committee</h3>
					<ul class="directors">
                        <li>Jim Bettner</li>
						<li>Michael Jessee</li>
						<li>Julie Schwierling</li>
					</ul>
				</div>