<h2>Contact Information</h2>
				<div class="content">
					<div id="contact">
						<div class="members">
							<h3>Member Service</h3>
							800-769-8934<br />
							513-765-6075<br />
							513-765-6078 (fax)
						</div>
						<div class="email">
							<h3>General Email</h3>
							<%= mail_to "memberstrust@luxotticaretail.com", "memberstrust@luxotticaretail.com" %>
						</div>
						<div class="phone">
							<h3>24 Hour PASS Member Service</h3>
							800-769-8934, option 1
						</div>
						<div class="hours">
							<h3>Office Hours</h3>
							Monday - Friday 8:00 - 5:00 p.m. EST
						</div>
						<div class="lost">
							<h3>Lost/Stolen Cards</h3>
							Credit Card     800-325-3678<br />
							ATM/Debit Card     800-523-4175
						</div>
						<div class="locations">
							<h3>Office Address</h3>
							4000 Luxottica Place<br />
							Mason, OH 45040
						</div>
						<div class="wiring">
							<h3>Wiring Funds to your Members Trust Account</h3>
							Wire funds to Corporate One FCU, Columbus, OH, routing number 244084264, for further credit to Members Trust FCU account number 242077529, with final credit to your account number.
						</div>
					</div>
				</div>