<h2>FUNDS AVAILABILITY DISCLOSURE</h2>
				<div class="content">
					<p>This policy statement applies to all deposit accounts.</p>
					<p>Our policy is to make funds from your cash and check deposits available to you immediately.  At that time, you can withdraw the funds in cash and we will use the funds to pay checks that you have written.</p>
					<p>Please remember that even after we have made funds  available to you, and you have withdrawn the funds, you are still responsible for checks you deposit that are returned to us unpaid and for any other problems involving your deposit.</p>
					<p>For determining the availability of your deposits, every day is a business day, except Saturdays, Sundays, and federal holidays. If you make a deposit before closing on a business day that we are open, we will consider that day to be the day of your deposit. However, if you make a deposit after closing or on a day we are not open, we will consider that the deposit was made on the next business day we are open.</p>
					<p>If you make a deposit at an ATM before 2:00 P.M. E.S.T. on a business day that we are open, we will consider that day to be the day of your deposit. However, if you make a deposit at an ATM after 2:00 P.M. E.S.T. or on a day we are not open, we will consider that the deposit was made on the next business day we are open.</p>
					<p class="center">LONGER DELAYS MAY APPLY</p>
					<p>In some cases, we will not make all of the funds that you deposit by check available to you immediately.  Depending on the type of check that you deposit, funds may not be available until the second business day after the day of your deposit. However, the first $100 of your deposits will be available immediately.</p>
					<p>If we are not going to make all of the funds from your deposit available immediately, we will notify you at the time you make your deposit. We will also tell you when the funds will be available. If your deposit is not made directly to one of our employees, or if we decide to take this action after you have left the premises, we will mail you the notice by the day after we receive your deposit.</p>
					<p>If you will need the funds from a deposit right away, you should ask us when the funds will be available.</p>
					<p>In addition, funds you deposit by check may be delayed for a longer period under the following circumstances:</p>
					<p>We believe a check you deposit will not be paid.</p>
					<p>You deposit checks totaling more than $5,000 on any one day.</p>
					<p>You redeposit a check that has been returned unpaid.</p>
					<p>You have overdrawn your account repeatedly in the last six months.</p>
					<p>There is an emergency, such as failure of communications or computer equipment.</p>
					<p>We will notify you if we delay your ability to withdraw funds for any of these reasons, and we will tell you when the funds will be available. They will generally be available no later than the seventh business day after the day of your deposit.  </p>
				</div>