<a name="billpay"></a>
				<h2>Pay Bills Online with Members Trust Bill Pay</h2>
				<div class="content">
					<p>Say goodbye to time-consuming check writing and costly postage.  Pay all your bills in minutes with just a few mouse clicks.  Even set up recurring payments and have your bills paid every month automatically.  Were sure you can think of better things to do with the time youll save. </p>
					<p>Click <a href="https://www.billpaysite.com/DEMOV2/demo.aspx?instid=90546" rel="confirm external">here</a> to demo our bill pay product.</p>
				</div>
				<a name="estatements"></a>
				<h2>Members Trust eStatements</h2>
				<div class="content">
					<p>Save time.  Save money.  Save a tree.  GO Green!</p>
					<p>Why switch to Membes Trust eStatements?</p>
					<ul>
						<li>Fast convenient and organized</li>
						<li>Eliminate postal delays</li>
						<li>Avoid lost or stolen mail</li>
						<li>Increased online security</li>
					</ul>
					<p>To enroll, login to online banking click on eStatements and complete the enrollment form.</p>
				</div>
				<a name="reorder"></a>
				<h2>Check Reorder</h2>
				<div class="content">
					<p>In the time it takes to read this page, you can order new checks.  Just view your check information online, make changes as needed, and in a few quick clicks, your check order will be on its way.</p>
					<p>Click <a href="https://reorder.libertysite.com" rel="confirm external">here</a> to reorder checks.</p>
				</div>