<h2>Frequently Asked Questions</h2>
				<div class="content">
					<dl class="faq">
						<dt>What is a Credit Union?</dt>
						<dd>
							<p>
								A credit union is a cooperative, not-for-profit financial institution 
								organized to promote thrift and provide credit to members.&nbsp; It is
								member-owned and controlled through a board of directors elected by 
								the membership.&nbsp; The result: members are provided with a safe, 
								convenient place to save and borrow at reasonable rates at an institution,
								which exists to benefit them, not to make a profit.
							</p>
						</dd>
						<dt>How did credit unions start?</dt>
						<dd>
							<p>
								The first credit union cooperatives started in Germany over a century 
								ago.&nbsp; Today, credit unions are found everywhere in the world.&nbsp; The
								credit union movement started in this country in Manchester, New Hampshire.&nbsp;
								There, the St. Marys Cooperative Credit Association, a church-affiliated 
								credit union opened its doors in 1909.&nbsp; Today, one in every three 
								Americans is a credit union member.
							</p>
						</dd>
						<dt>Are savings deposits insured?</dt>
						<dd>
							<p>
								Yes.  All savings accounts are insured up to $250,000 by NCUA, the 
								<%= link_to "National Credit Union Administration", "http://www.ncua.gov", :rel=>"confirm external" %>, an agency of the Federal government.
							</p>
						</dd>
						<dt>Who owns a credit union?</dt>
						<dd>
							<p>
								Most financial institutions are owned by stockholders, who own a part of the 
								institution and intend on making money from their investment.&nbsp; A credit
								union doesnt operate in that manner.&nbsp; Rather, each credit union member
								owns one &quot;share&quot; of the organization.&nbsp; The user of credit
								union services is also an owner, and is even entitled to vote on important
								issues, such as the election of member representatives to serve on the board
								of directors.
							</p>
						</dd>
						<dt>What is the purpose of a credit union?</dt>
						<dd>
							<p>
								The primary purpose is to encourage members to save money and offer an 
								affordable source of lending.&nbsp; In fact, credit unions have traditionally
								made loans to people of ordinary means.&nbsp; Credit unions can charge lower
								rates for loans (as well as pay higher dividends on savings) because they are
								not-for-profit cooperatives.&nbsp; Rather than paying profits to stockholders,
								credit unions return earnings to members in the form of dividends or improved
								services.
							</p>
						</dd>
						<dt>Who can join a credit union?</dt>
						<dd>
							<p>
								A credit union exists to serve a specific group of people, such as a group of
								employees of the members of a professional or religious group.&nbsp;  This is
								called a field of membership.&nbsp; The field of membership may include where
								they live, where they work, or their membership in a social or economic group.
							</p>
						</dd>
					</dl>
				</div>