<h2>Fee Schedule</h2>
				<div class="content">
					<h3>CHECKING/SHARE ACCOUNT</h3>
					<dl class="fees clearfix">
						<dt>Check/Draft Copy (each)</dt>
						<dd>$2.00</dd>
						<dt>Certified Check (Personal Account)</dt>
						<dd>FREE</dd>
						<dt>Account Reconciliation</dt>
						<dd class="sub_list">
							<dl>
								<dt>First reconciliation</dt>
								<dd>FREE</dd>
								<dt>Second reconciliation</dt>
								<dd>$20.00</dd>
							</dl>
						</dd>
						<dt>Checks/Drafts</dt>
						<dd>Varies per check style and type ordered</dd>
					</dl>
					<h3>STAR&reg; CARD</h3>
					<dl class="fees clearfix">
						<dt>Deposits</dt>
						<dd>FREE</dd>
						<dt>Withdrawals (each)</dt>
						<dd>$1.00</dd>
						<dt>ATM withdrawal overdraft (each)</dt>
						<dd>$25.00</dd>
						<dt>Replace lost, damaged, or reissued card (each)</dt>
						<dd>$10.00</dd>
					</dl>
					<h3>MASTERMONEY DEBIT CARD (Check Card)</h3>
					<dl class="fees clearfix">
						<dt>Deposits</dt>
						<dd>FREE</dd>
						<dt>ATM Withdrawals</dt>
						<dd>FREE</dd>
						<dt>Replace lost, damaged, or reissued card (each)</dt>
						<dd>$10.00</dd>
					</dl>
					<h3>CHRISTMAS CLUB ACCOUNT</h3>
					<dl class="fees clearfix">
						<dt>Early withdrawal (each)</dt>
						<dd>$10.00</dd>
					</dl>
					<h3>MEMBERS MONEY MARKET</h3>
					<dl class="fees clearfix">
						<dt>
							Excessive Withdrawals (each)
							<br />
							<span class="indent">(more than 3 per month)</span>
						</dt>
						<dd>$20.00</dd>
					</dl>
					<h3>LOAN FEES</h3>
					<dl class="fees clearfix">
						<dt>Installment Loan Late Fee</dt>
						<dd>$25.00</dd>
						<dt>Home Equity/ReFi 5/HELOC Late Fee</dt>
						<dd>$50.00</dd>
						<dt>Processing Fee - Charged at Closing</dt>
						<dd>$35.00</dd>
					</dl>
					<h3>MISCELLANEOUS FEES</h3>
					<dl class="fees clearfix">
						<dt>Foreign Item (each)</dt>
						<dd>$25.00</dd>
						<dt>Non-sufficient funds (each)</dt>
						<dd>$25.00</dd>
						<dt>Return Deposit Item (each)</dt>
						<dd>$20.00</dd>
						<dt>Courtesy Pay Fee (Checking Only)(each)</dt>
						<dd>$25.00</dd>
						<dt>Transfer to cover overdraft (per transfer)</dt>
						<dd>$3.50</dd>
						<dt>Stop Payment (each)</dt>
						<dd>$20.00</dd>
						<dt>Money Orders (each)</dt>
						<dd>$2.00</dd>
						<dt>Travelers Cheques (per $100)</dt>
						<dd>$0.50</dd>
						<dt>Travelers Cheques for Two (per $100)</dt>
						<dd>$1.00</dd>
						<dt>Wire Transfers (incoming)</dt>
						<dd>FREE</dd>
						<dt>Wire Transfers (outgoing)</dt>
						<dd>$20.00</dd>
						<dt>Printed history of Account (per page)</dt>
						<dd>$1.00</dd>
						<dt>Inactive Accounts - No activity within last 12 months (each month)</dt>
						<dd>$5.00</dd>
					</dl>
					<p class="center bold">ALL FEES ARE SUBJECT TO CHANGE</p>                                                          
				</div>