<h2>Our History</h2>
				<div class="content">
					<p>
						On October 8, 1963, Federal Charter No. 15874 was granted to U.S. Shoe No. 1 Federal
						Credit Union.&nbsp; We began when the idea of a credit union was presented to the
						employees of U.S. Shoe.&nbsp; Seven members organized and applied for our credit union
						charter.
					</p>
					<p>
						Through the years there have been numerous additions to our charter.&nbsp;  In 1984,
						associates of LensCrafters were added to our field of membership and in 1995 our name
						was changed to Members Trust Federal Credit Union.&nbsp; In 2002, our current membership
						base was further expanded to include Sunglass Hut.&nbsp; In 2004, the
						<%= link_to "National Credit Union Administration", "http://www.ncua.gov", :rel=>"confirm external" %>
						granted Members Trust a charter expansion to include associates from Cole National.&nbsp; This
						new group included associates from Pearle Vision, Target Optical, BJ’s Optical, Sears Optical
						and Cole Managed Vision.
					</p>
					<p>
						Our charter has once again expanded to include all associates of Luxottica Retail paid out
						of the Cincinnati Service Center (CSC).&nbsp; This brings our potential membership to over
						36,000 members.
					</p>
					<p>
						If you have any questions about membership eligibility, please contact our office at 800-769-8934
						or <%= mail_to "memberstrust@luxotticaretail.com", "memberstrust@luxotticaretail.com" %>.
					</p>
				</div>