<h2>Holiday Schedule</h2>
				<div class="content">
					<h3>2010 Holiday Schedule</h3>
					<p>
						Members Trust observes the following holidays and will be closed on these dates:
					</p>
					<table class="holidays">
						<thead>
							<tr>
								<th>Holiday</th>
								<th>Date</th>
								<th>DOW</th>
								<th>Closed</th>
							</tr>
						</thead>
						<tbody>
							<tr class="highlight">
								<td>New Year&#39;s Day</td>
								<td>January 1</td>
								<td>Friday</td>
								<td>All Day</td>
							</tr>
							<tr>
								<td>Memorial Day</td>
								<td>May 31</td>
								<td>Monday</td>
								<td>All Day</td>
							</tr>
							<tr class="highlight">
								<td>Independence Day</td>
								<td>July 4</td>
								<td>Monday, July 5</td>
								<td>All Day</td>
							</tr>
							<tr>
								<td>Labor Day</td>
								<td>September 6</td>
								<td>Monday</td>
								<td>All Day</td>
							</tr>
							<tr class="highlight">
								<td>Thanksgiving Day</td>
								<td>November 25</td>
								<td>Thursday</td>
								<td>All Day</td>
							</tr>
							<tr>
								<td>Day after Thanksgiving</td>
								<td>November 26</td>
								<td>Friday</td>
								<td>All Day</td>
							</tr>
							<tr class="highlight">
								<td>Christmas Eve</td>
								<td>December 24</td>
								<td>Thursday, December 23</td>
								<td>Close at 1:00 EST</td>
							</tr>
							<tr>
								<td>Christmas Day</td>
								<td>December 25</td>
								<td>Friday, December 24</td>
								<td>All Day</td>
							</tr>
						</tbody>
					</table>
				</div>