<h2>Visa Loans</h2>
				<div class="content">
					<div id="visa">
						<p>
							Members Trust offers three great Visa credit card options.&nbsp; Now is the perfect time to apply for a Members Trust Visa card and transfer higher interest balances to one of Members Trust&#39;s low rate Visa cards.
						</p>
						<table>
							<thead>
								<tr>
									<th></th>
									<th>Visa Classic</th>
									<th>Visa Gold</th>
									<th>Visa Secured</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><strong>Annual Percentage Rate (APR)</strong></td>
									<td>14.88%</td>
									<td>9.96%</td>
									<td>15.96%</td>
								</tr>
								<tr class="highlight">
									<td><strong>Grace Period</strong></td>
									<td>25 days</td>
									<td>25 days</td>
									<td>25 days</td>
								</tr>
								<tr>
									<td><strong>Minimum Finance Charge</strong></td>
									<td>3% of outstanding balance or $10 whichever is greater</td>
									<td>3% of outstanding balance or $10 whichever is greater</td>
									<td>5% of outstanding balance or $10 whichever is greater</td>
								</tr>
								<tr class="highlight">
									<td><strong>Annual Fee</strong></td>
									<td>None</td>
									<td>None</td>
									<td>$25</td>
								</tr>
								<tr>
									<td><strong>Late Fee</strong></td>
									<td>$20</td>
									<td>$20</td>
									<td>$20</td>
								</tr>
								<tr class="highlight">
									<td><strong>Limit up to</strong></td>
									<td>$5,000</td>
									<td>$15,000</td>
									<td>$5,000</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h3>Verified by Visa</h3>
					<p>
						Take an active role in protecting your credit card by enrolling in Verified by Visa.&nbsp; That&#39;s right, make your online shopping experience easy, convenient, and safe when you request your personal password from Visa&reg;.&nbsp; Protect your card and yourself from fraud when you shop online with Visa&#39;s&reg; Verified by Visa.
					</p>
					<p>
						Once activated, Verified by Visa protects you at every participating online merchant – so only you can use your card.&nbsp; Then anytime you shop online at a participating merchant, just use your password and click away.&nbsp; Enroll today at <%= link_to "www.visa.com/shopverified", "http://www.visa.com/shopverified", :rel=>"confirm external" %> you&#39;ll be glad you did.
					</p>
					<p class="apply">
						<%= link_to "", "https://memberstrust.nssecurebanking.org/HBV3_2/hbloanapplogin.asp" %>
					</p>
				</div>