<h2>Mission Statement</h2>
				<div class="content">
					<p>
						The mission of Members Trust Federal Credit Union is to assist member-owners
						in achieving their personal financial objectives.&nbsp; We accomplish this by:
					</p>
					<ul>
						<li>Managing member assets to ensure the long-term financial stability of the credit union.</li>
						<li>Providing excellent customer service in a confidential and professional manner.</li>
						<li>Offering sound and competitively priced products and services consistent with the needs of our diverse membership.</li>
					</ul>
				</div>