<h2>Message from the President</h2>
				<div class="content">
					<p>At Members Trust, we respect our members and see them as people, not accounts.  That’s why we take the time to get to know you and your banking needs so that we can offer the right banking solutions for you.  We also want to make sure you understand the products and services we offer and that you are comfortable with the choices you make.  The purpose of this letter is to explain the overdraft protection options available to you at Members Trust and to explain the changes that are coming on August 15, 2010.</p>
					<p>As you may be aware, new regulatory requirements will change how financial institutions handle overdrafts.  Since these changes may affect the way you manage your account, we want you to understand the choices you have with Members Trust.  Currently, we offer three different ways to cover occasional overdrafts.    </p>
                    <ul>
                    	<li>Each share draft (checking account) is linked to the primary member savings account to cover unexpected overdrafts.  We link these accounts when the share draft account is opened.  This is the least expensive option for overdraft protection.  </li>
                        <li>Members Trust also offers an overdraft line of credit that is attached to your share draft account.  This option offers coverage from $500 - $2,500.  It is considered an extension of credit.  Therefore, a credit application is required and our standard underwriting guidelines determine line amount and approval.  </li>
                        <li>After your account has been in good standing for 60 days, Members Trust offers overdraft protection in the form of courtesy pay on your share draft (checking account).  This service permits Members Trust, for a fee, to authorize and pay overdrafts at its discretion for: checks and other transactions made using your checking account number (&quot;ACH transactions&quot;); automatic or electronic bill payments; ATM transactions; and one-time debit card transactions.  </li>
                    </ul>
                    <p>Recent regulatory changes adopted by the Board of Governors of the Federal Reserve require us to change our overdraft practices that apply to all checking accounts.  These changes will require Members Trust to discontinue your overdraft protection for ATM and one–time debit card transactions unless you affirmatively agree or &quot;opt-in&quot;, to overdraft protection for these transactions.  This change goes into effect for existing members on August 15, 2010.  However, your overdraft protection for checks, automatic bill payments, ACH and other transactions made by using your checking account number will remain unchanged.</p>
                    <p>At Members Trust, we want you to make an informed decision on the type of overdraft protection that best suits your banking needs.  If you are ready to &quot;opt-in&quot; to continued overdraft protection for your ATM and one-time debit card transactions, simply complete and return the enclosed Opt-In Form or go to <%= link_to "www.memberstrust.org", "http://www.memberstrust.org" %> log into home banking and make your declaration electronically.</p>
                  <p>We look forward to the opportunity to continue serving your banking needs.  If you have any questions about the new overdraft protection rules, please contact one of our member service representatives at 800-769-8934.</p>
                    
					<p>Sincerely, 
                    <br />
                    <%= image_tag "toddsignature.jpg", :alt=>"", :width=>100, :height=>45 %>
                    <br />Todd Cain
						<br />
						President
						<br />
						Members Trust Federal Credit Union
					</p>
				</div>