<h2>Privacy Policy</h2>
				<div class="content">
					<p>Members Trust Federal Credit Union is committed to providing you with financial products and services to meet your needs and help you reach your financial goals.  We are required by law to give you this privacy notice.  If after reading this notice you have any questions, please contact us at 513-765-6075 or 800-769-8934.</p>
					<p>We collect and store information on the domain you use to access our web site, the Internet address of the site from which you linked directly to the site and the date and time of you visit.  This information is used to measure the number of visitors to the various pages on our site to better serve our membership.</p>
					<p>If you email us, we collect and store personally identifying information in order to process your request.  This information is not sold to any third parties.  Due to the volume of email activity, these messages are deleted after they have been answered or completed.</p>
					<p>If you link to another site from any of our pages, you are leaving our site, and we cannot be held responsible for any information that may be gathered at a linked site.  We make every effort however, to ensure that all linked sites follow similar privacy policies to offer you maximum security and privacy.</p>
					<p>If you have any questions regarding this privacy statement, or the practices of this site, please direct them to <%= mail_to "memberstrust@luxotticaretail.com", "memberstrust@luxotticaretail.com" %>.</p>
				</div>