<div id="ratespage">
					<a name="cd"></a>
					<h2>CD / IRA Rates</h2>
					<div class="content">
						<p>Rates may change after account has been opened. Fees and other conditions could reduce the earning on the account. A penalty may be imposed for early withdrawals. The minimum balance for all share and IRA certificates is $500.</p>
						<table>
							<thead>
								<tr>
									<th class="lefttext">Term</th>
									<th>Dividend Rate</th>
									<th>APY*</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>91 Days</td>
									<td class="centertext">0.30%</td>
									<td class="centertext">0.30%</td>
								</tr>
								<tr class="highlight">
									<td>6 Months</td>
									<td class="centertext">0.65%</td>
									<td class="centertext">0.65%</td>
								</tr>
								<tr>
									<td>12 Months</td>
									<td class="centertext">0.95%</td>
									<td class="centertext">0.95%</td>
								</tr>
								<tr class="highlight">
									<td>18 Months</td>
									<td class="centertext">1.05%</td>
									<td class="centertext">1.05%</td>
								</tr>
								<tr>
									<td>24 Months</td>
									<td class="centertext">1.24%</td>
									<td class="centertext">1.25%</td>
								</tr>
								<tr class="highlight">
									<td>30 Months</td>
									<td class="centertext">1.34%</td>
									<td class="centertext">1.35%</td>
								</tr>
								<tr>
									<td>48 Months</td>
									<td class="centertext">1.99%</td>
									<td class="centertext">2.00%</td>
								</tr>
								<tr class="highlight">
									<td>60 Months</td>
									<td class="centertext">2.23%</td>
									<td class="centertext">2.25%</td>
								</tr>
							</tbody>
						</table>
					</div>
					<a name="savings" id="savings"></a>
					<h2>Savings Rates</h2>
					<div class="content">
						<p>Minimum balance required to earn dividends is $100.</p>
						<table>
							<thead>
								<tr>
									<th class="lefttext">Product</th>
									<th>Dividend Rate</th>
									<th>APY*</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Share Savings</td>
									<td class="centertext">0.15%</td>
									<td class="centertext">0.15%</td>
								</tr>
								<tr class="highlight">
									<td>Holiday Club</td>
									<td class="centertext">0.15%</td>
									<td class="centertext">0.15%</td>
								</tr>
								<tr>
									<td>Vacation Club</td>
									<td class="centertext">0.15%</td>
									<td class="centertext">0.15%</td>
								</tr>
								<tr class="highlight">
									<td>You Name It</td>
									<td class="centertext">0.15%</td>
									<td class="centertext">0.15%</td>
								</tr>
								<tr>
									<td>IRA Savings</td>
									<td class="centertext">0.15%</td>
									<td class="centertext">0.15%</td>
								</tr>
								<tr class="highlight">
									<td>Money Market</td>
									<td class="centertext">&nbsp;</td>
									<td class="centertext">&nbsp;</td>
								</tr>
								<tr class="highlight">
									<td class="indent">$2,500 - $25,000</td>
									<td class="centertext">0.30%</td>
									<td class="centertext">0.30%</td>
								</tr>
								<tr class="highlight">
									<td class="indent">$25,001 - $75,000</td>
									<td class="centertext">0.50%</td>
									<td class="centertext">0.50%</td>
								</tr>
								<tr class="highlight">
									<td class="indent">$75,001 - above</td>
									<td class="centertext">0.70%</td>
									<td class="centertext">0.70%</td>
								</tr>
							</tbody>
						</table>
						<p class="disclaimer">APY* = Annual Percentage Yield</p>
					</div>
					<a name="loans" id="loans"></a>
					<h2>Loan Rates</h2>
					<div class="content">
						<p>Interest rate pricing tiers are based upon credit history and credit bureau score.</p>
						<a name="auto"></a>
						<table>
							<thead>
								<tr>
									<th class="lefttext">New Auto</th>
									<th>AA<br />APR*</th>
									<th>A<br />APR*</th>
									<th>B<br />APR*</th>
									<th>C<br />APR*</th>
									<th>D<br />APR*</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>84 Months ($30,000 min)</td>
									<td class="centertext">5.50%</td>
									<td class="centertext">5.75%</td>
									<td class="centertext">7.00%</td>
									<td class="centertext">N/A</td>
									<td class="centertext">N/A</td>
								</tr>
								<tr class="highlight">
									<td>72 Months ($25,000 min)</td>
									<td class="centertext">4.00%</td>
									<td class="centertext">4.25%</td>
									<td class="centertext">5.50%</td>
									<td class="centertext">11.00%</td>
									<td class="centertext">14.00%</td>
								</tr>
								<tr>
									<td>60 Months</td>
									<td class="centertext">3.50%</td>
									<td class="centertext">3.75%</td>
									<td class="centertext">5.00%</td>
									<td class="centertext">10.50%</td>
									<td class="centertext">13.50%</td>
								</tr>
								<tr class="highlight">
									<td>48 Months</td>
									<td class="centertext">3.50%</td>
									<td class="centertext">3.75%</td>
									<td class="centertext">5.00%</td>
									<td class="centertext">10.50%</td>
									<td class="centertext">13.50%</td>
								</tr>
								<tr>
									<td>36 Months</td>
									<td class="centertext">3.25%</td>
									<td class="centertext">3.50%</td>
									<td class="centertext">4.75%</td>
									<td class="centertext">10.25%</td>
									<td class="centertext">13.25%</td>
								</tr>
							</tbody>
						</table>
						<table>
					  <thead>
								<tr>
									<th colspan="6" class="lefttext">Used Auto</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="desc">2007 - 2009 - 72 Months</td>
									<td class="centertext">4.50%</td>
									<td class="centertext">4.75%</td>
									<td class="centertext">6.00%</td>
									<td class="centertext">11.50%</td>
									<td class="centertext">14.50%</td>
								</tr>
								<tr class="highlight">
									<td>2007 - 2009 - 60 Months</td>
									<td class="centertext">4.00%</td>
									<td class="centertext">4.25%</td>
									<td class="centertext">5.50%</td>
									<td class="centertext">11.00%</td>
									<td class="centertext">14.00%</td>
								</tr>
								<tr>
									<td>2007 - 2009 - 36 Months</td>
									<td class="centertext">3.50%</td>
									<td class="centertext">3.75%</td>
									<td class="centertext">5.00%</td>
									<td class="centertext">10.50%</td>
									<td class="centertext">13.50%</td>
								</tr>
								<tr class="highlight">
									<td>2006 - 60 Months</td>
									<td class="centertext">4.50%</td>
									<td class="centertext">4.75%</td>
									<td class="centertext">6.00%</td>
									<td class="centertext">11.50%</td>
									<td class="centertext">14.50%</td>
								</tr>
								<tr>
									<td>2005 - 48 Months</td>
									<td class="centertext">5.00%</td>
									<td class="centertext">5.25%</td>
									<td class="centertext">6.50%</td>
									<td class="centertext">12.00%</td>
									<td class="centertext">15.00%</td>
								</tr>
								<tr class="highlight">
									<td>2004 - 36 Months</td>
									<td class="centertext">6.25%</td>
									<td class="centertext">6.50%</td>
									<td class="centertext">7.75%</td>
									<td class="centertext">13.25%</td>
									<td class="centertext">16.25%</td>
								</tr>
							</tbody>
						</table>
						<a name="heloc"></a>
		  <table class="two_column">
							<thead>
								<tr>
									<th class="lefttext">TRUSTLine HELOC</th>
									<th class="centertext">Rates as low as</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>80% LTV - 60 Months</td>
									<td class="centertext">4.00%</td>
								</tr>
								<tr class="highlight">
									<td>90% LTV - 120 Months</td>
									<td class="centertext">4.00%</td>
								</tr>
							</tbody>
						</table>
						<table class="two_column">
							<thead>
								<tr>
									<th class="lefttext">Home Equity Loan</th>
									<th class="centertext">Rates as low as</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>80% LTV - 60 Months</td>
									<td class="centertext">5.25%</td>
								</tr>
								<tr class="highlight">
									<td>80% LTV - 120 Months</td>
									<td class="centertext">5.75%</td>
								</tr>
								<tr>
									<td>90% LTV - 60 Months</td>
									<td class="centertext">6.25%</td>
								</tr>
								<tr class="highlight">
									<td>90% LTV - 120 Months</td>
									<td class="centertext">6.75%</td>
								</tr>
							</tbody>
						</table>
						<table class="two_column">
							<thead>
								<tr>
									<th class="lefttext">ReFi5 Program - 1st Mortgage</th>
									<th class="centertext">Rates as low as</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>80% LTV</td>
									<td class="centertext">4.75%</td>
								</tr>
								<tr class="highlight">
									<td>90% LTV</td>
									<td class="centertext">5.00%</td>
								</tr>
							</tbody>
						</table>
						<table class="two_column">
							<thead>
								<tr>
									<th class="lefttext">Credit Cards</th>
									<th class="centertext">Rates as low as</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Visa Gold</td>
									<td class="centertext">9.96%</td>
								</tr>
								<tr class="highlight">
									<td>Visa Classic</td>
									<td class="centertext">14.88%</td>
								</tr>
								<tr>
									<td>Visa Secured</td>
									<td class="centertext">15.96%</td>
								</tr>
							</tbody>
						</table>
						<table>
							<thead>
								<tr>
									<th class="lefttext" colspan="6">Motorcycles</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="desc">New</td>
									<td class="centertext">5.50%</td>
									<td class="centertext">6.00%</td>
									<td class="centertext">7.00%</td>
									<td class="centertext">12.50%</td>
									<td class="centertext">15.50%</td>
								</tr>
								<tr class="highlight">
									<td>Used</td>
									<td class="centertext">6.50%</td>
									<td class="centertext">7.00%</td>
									<td class="centertext">8.00%</td>
									<td class="centertext">13.50%</td>
									<td class="centertext">16.50%</td>
								</tr>
							</tbody>
						</table>
						<table>
							<thead>
								<tr>
									<th class="lefttext" colspan="6">Boat/Motor Home</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="desc">New</td>
									<td class="centertext">5.75%</td>
									<td class="centertext">6.25%</td>
									<td class="centertext">7.25%</td>
									<td class="centertext">12.75%</td>
									<td class="centertext">14.75%</td>
								</tr>
								<tr class="highlight">
									<td>Used</td>
									<td class="centertext">6.75%</td>
									<td class="centertext">7.25%</td>
									<td class="centertext">8.25%</td>
									<td class="centertext">13.75%</td>
									<td class="centertext">16.75%</td>
								</tr>
							</tbody>
						</table>
						<table>
							<thead>
								<tr>
									<th class="lefttext" colspan="6"><a name="other"></a>Other Loans</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="desc">Unsecured Loan</td>
									<td class="centertext">13.00%</td>
									<td class="centertext">14.00%</td>
									<td class="centertext">15.00%</td>
									<td class="centertext">16.00%</td>
									<td class="centertext">17.00%</td>
								</tr>
								<tr class="highlight">
									<td>Overdraft Protection</td>
									<td class="centertext">16.00%</td>
									<td class="centertext">16.00%</td>
									<td class="centertext">16.00%</td>
									<td class="centertext">16.00%</td>
									<td class="centertext">16.00%</td>
								</tr>
								<tr>
									<td>Stock Secured</td>
									<td class="centertext">4.95%</td>
									<td class="centertext">4.95%</td>
									<td class="centertext">4.95%</td>
									<td class="centertext">4.95%</td>
									<td class="centertext">4.95%</td>
								</tr>
								<tr class="highlight">
									<td>Share Secured</td>
									<td class="centertext">3.95%</td>
									<td class="centertext">3.95%</td>
									<td class="centertext">3.95%</td>
									<td class="centertext">3.95%</td>
									<td class="centertext">3.95%</td>
								</tr>
							</tbody>
						</table>
						<p class="disclaimer">APR* = Annual Percentage Rate</p>
					</div>
				</div>