<h2>Who Can Join</h2>
				<div class="content">
					<p>
						You are eligible for <%= link_to "membership", "pdf/membership_application.pdf" %> if
						you are an associate of Luxottica Retail and receive a paycheck from the Cincinnati
						Service Center (CSC).
					</p>
					<p>
						Immediate family is also eligible to join and take advantage of our great products
						and services.
						<br />
						Eligible family members are as follows:
					</p>
					<ul>
						<li>Spouse</li>
						<li>Children</li>
						<li>Siblings</li>
						<li>Parents</li>
						<li>Grandparents</li>
						<li>Grandchildren</li>
						<li>Step Children</li>
						<li>Step Parents</li>
						<li>Step Siblings</li>
						<li>Adopted Children</li>
					</ul>
					<p>
						<strong>Once a member, always a member</strong> - Once you join Members Trust,
						you can remain a member even if you change careers, retire or move away.
					</p>
					<p>
						If you have any questions about membership eligibility, please contact our office
						at 800-769-8934 or 513-765-6075.
					</p>
				</div>